@model EscanorHomeWork.Models.Packageinfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Packageinfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
