@model IEnumerable<EscanorHomeWork.Models.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PreTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Signature)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PreTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Signature)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
         
        </td>
    </tr>
}

</table>
